.movie-card {
  display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

  padding: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  &__content {
    flex-grow: 0;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 7px 0;

    margin: 10px 0;
  }

}
