.movie-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;

  @media (max-width: 1170px) {
    grid-template-columns: 1fr;
  }

  &_loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__not-found {
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
  }

  &_empty {
    grid-template-columns: 1fr;
  }
}
